# SPDX-FileCopyrightText: 2021-2026, Collabora, Ltd.
# SPDX-License-Identifier: CC0-1.0

coverage/
node_modules/
lib/

lerna-debug.log
*.tgz

*.adoc
!test-data/*.adoc

.*
!.gitignore
!.reuse
!.eslintrc.js
!.prettierrc
!.editorconfig
!.npmignore
