# SPDX-FileCopyrightText: 2021, Collabora, Ltd.
# SPDX-License-Identifier: CC0-1.0

node_modules/
/dist/
lib/
*.adoc
!test-data/*.adoc

.*
!.gitignore
!.reuse
!.eslintrc.js
!.prettierrc
!.editorconfig
!.*.license
