# SPDX-FileCopyrightText: 2021, Collabora, Ltd.
# SPDX-License-Identifier: CC0-1.0

node_modules/
lib/

lerna-debug.log

*.adoc
!packages/khr-reflow/test-data/*.adoc

.*
!.gitignore
!.reuse
!.eslintrc.js
!.prettierrc
!.editorconfig
!.*.license
